.intro {
    text-align: center;
    width: 100%;
    position: absolute;
    /* left: 0px; */
    /* right: 0px; */
    width: max-content;
    justify-content: center;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.options {
    display: flex;
    flex-flow: column;
}

.options:last-child {
    margin-bottom: 0px;
}

.optionItem {
    margin-bottom: 24px;
}

.optionItem:last-of-type {
    margin-bottom: 0px;
}

.navButton {
    margin-bottom: 24px;
}

.navButton:last-of-type {
    margin-bottom: 0px;
}